* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    background: none;
    cursor: default;
    font-weight: 700;
}

img {
    width: 130px;
    height: 130px;
    user-select: none;
    margin: 10px;
}

.logo {
    width: auto;
    height: 50px;
    cursor: pointer;
}

main {
    display: flex;
    margin: 10px 0px 0px 0px;
}

.header {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 5px rgb(0 0 0 / 15%);

}

.headerMenu {
    display: flex;
    border-radius: 5px;
    width: auto;
    margin: 0px 15px 0px 15px;
    align-items: center;
}

.headerText {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.content {
    height: 65vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.test {
    display: flex;
    height: 95%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px;
}


.test1 {
    display: flex;
    width: 90%;
    height: auto;
    background-color: #FCFCFC;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
}


.test2 {
    display: flex;
    width: auto;
    margin: 0px 10px;
    align-items: baseline;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
}

.add {
    display: flex;
    width: 50px;
    height: 30px;
    margin: 0px 10px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    user-select: none;

}

.add:hover {
    background-color: #3e8e41;
}

.add:active {
    background-color: green;
    transform: translateY(4px);
}


.shoppingCartList {
    min-width: 350px;
    max-width: 350px;
    height: auto;
    background-color: whitesmoke;
    padding: 5px;
    border-left: solid 2px rgb(107, 0, 0);
    overflow-x: hidden;
}

.shoppingCart {
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 350px;
    background-color: whitesmoke;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
}

.mainContent {
    width: 100%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    box-shadow: 0 3px 0px rgb(0 0 0 / 10%);
}


.cart {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.cartItemList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cartNames {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 5px;
}

.cartItemName {
    width: auto;
    height: auto;
}

.cartItemPrice {
    width: auto;
    height: auto;
}

.cartContent {
    display: flex;
    width: auto;
    height: auto;
    background-color: brown;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.cartAmount {
    margin: 0px 12px 0px 0px;
}

.cartItemRemove {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #aaa9a9;
    align-items: center;
    justify-content: center;

}

.cartItemRemove:hover {
    background-color: red;
    cursor: pointer;
}

.cartItemRAdd {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #aaa9a9;
    align-items: center;
    justify-content: center;

}

.cartItemRAdd:hover {
    background-color: green;
    cursor: pointer;
}

.shopingbag {
    width: 25px;
    height: 25px;
}

.menu {
    padding: 0px 0px 0px 25px;
}

.menu,
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.menuBagpack {
    max-width: 25px;
    max-height: 25px;
}

.menuList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.RestaurantLogo {
    width: 100px;
    height: 100px;

}

.RestaurantLogo,
img {
    border-radius: 15px 15px 15px 15px;
}

.mincard {
    display: flex;
    align-items: center;
}

.rate {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buybutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px black;
}

.buybutton:hover {
    background-color: #3e8e41;
}

.buybutton:active {
    background-color: green;
    transform: translateY(4px);
}
.shoppingCartHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.noBreak {
    white-space: nowrap;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    padding-right: 20px;
    transition: color 0.2s;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
.close::after {
    content: ' Close ';
    font-size: 12px;
    color: #666;
    background-color: #e9e3e3;
    text-align: center;
    width: 75px;
    border-radius: 55px;
    position: absolute;
    right: 30px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
}
.close:hover::after,
.close:focus::after {
    opacity: 1;
}
